.square {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #1e1e1e;
  color: #fff;
}

.hrect {
  aspect-ratio: 1/ 2;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #1e1e1e;
  color: #fff;
}

.vrect {
  aspect-ratio: 2/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #1e1e1e;
  color: #fff;
}

.container {
  max-width: calc(4 / 7 * 100vh);
  padding: 0;
}

div[class^="col-"],
div[class*=" col-"],
.col,
.row {
  padding: 0;
  margin: 0;
}

.btn-Primary {
  width: 100%;
  height: 100%;
  font-size: 5vh;
  border-radius: 50%;
  background-color: DimGray;
  color: white;
  &:hover {
    background-color: DimGray;
    color: white;
  }
  &:focus {
    background-color: DimGray;
    color: white;
  }
  &.active {
    &:hover {
      background-color: DimGray;
      color: white;
    }
    &:focus {
      background-color: DimGray;
      color: white;
    }
  }
}

.btn-Secondary {
  width: 100%;
  height: 100%;
  font-size: 5vh;
  border-radius: 50%;
  background-color: orange;
  color: white;
  &:hover {
    background-color: orange;
    color: white;
  }
  &:focus {
    background-color: orange;
    color: white;
  }
  &.active {
    &:hover {
      background-color: orange;
      color: white;
    }
    &:focus {
      background-color: orange;
      color: white;
    }
  }
}

.btn-Info {
  width: 100%;
  height: 100%;
  font-size: 5vh;
  border-radius: 50%;
  background-color: grey;
  color: black;
  &:hover {
    background-color: grey;
    color: black;
  }
  &:focus {
    background-color: grey;
    color: black;
  }
  &.active {
    &:hover {
      background-color: grey;
      color: black;
    }
    &:focus {
      background-color: grey;
      color: black;
    }
  }
}

.display {
  aspect-ratio: 2/ 1;
  display: flex;
  font-size: 8vh;
  align-items: center;
  justify-content: end;
  padding: 5%;
  background-color: #1e1e1e;
  color: #fff;
}
